@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('../src/assets/image.png');
    background-size: cover;
    background-position: center;
}

.bg-left {
  background-image: url('../src/assets/referral.jpg');
  background-size: contain;
  background-position: center;
}
